<div>
  <div *ngIf="isLoading; else dataReady" class="d-flex justify-content-center mt-5">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ng-template #dataReady>
    <div class="alert alert-success mt-3" role="alert">
      Danh mục cổ phiếu "Breakout" là bộ lọc những cổ phiếu vừa phá đỉnh hoặc vừa phá đáy. Chúng cho tín hiệu thị trường sắp bước vào chu kỳ tăng(giảm) mới. Điều kiện lọc như sau:
      <ul>
        <li>Giá vừa phá đỉnh (hoặc phá đáy) của ít nhất  2 tuần trước đó</li>
        <li>Giá trị giao dịch trung bình 3 tháng > 500m</li>
      </ul>
    </div>

    <div style="position: relative;">
      <ng-container *ngIf="data?.limitData">
        <div
          class="s116 subscriber_only"
          onclick="location.href='r/stockreports-unpdlk/'"
          style="cursor:pointer;width:160;height:20px;padding:7px;border: 1px solid #90afdc; background-color:#90afdc; box-sizing: content-box;"
        >
          <a href="r/stockreports-unpdlk/" style="color:white">Click to Unlock</a>
        </div>
      </ng-container>
      <h5 class="text-center mt-5 font-weight-bold">Tín hiệu Breakout</h5>
      <table class="table table-bordered table-hover">
        <thead class="text-center">
          <tr>
            <th scope="cSol">STT</th>
            <th scope="col">Cổ phiếu</th>
            <th scope="col">Mô hình giá</th>
            <th scope="col">Tín hiệu</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Ngày</th>
            <th scope="col">Biểu đồ</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="data?.limitData; else NolimitData">
            <tr *ngFor="let row of data?.data; let idx = index">
              <td>{{ idx + 1 }}</td>
              <td>{{ row?.code }}</td>
              <td class="d-flex justify-content-between align-items-center p-0 pl-3">
                <span>{{ row?.pattern }}</span>
                <img [src]="helper.getPatternImage(row?.icon)" style="height: 35px;" />
              </td>
              <td>{{ row?.trend }}</td>
              <td class="text-right">{{ row?.stringStatus }}</td>
              <td class="text-right">{{ row?.breakTime }}</td>
              <td class="text-right">
                <a (click)="openChart(content, row?.imageLink)">show</a>
              </td>
            </tr>

            <tr *ngFor="let row of dumpArray">
              <td>{{ row }}</td>
              <td>
                <a class="blur3-left " href="https://www.stockopedia.com/r/stockreports-unpdlk/"></a>
              </td>
              <td>
                <a class="blur3-left " href="https://www.stockopedia.com/r/stockreports-unpdlk/"></a>
              </td>
              <td>
                <a class="blur3-left " href="https://www.stockopedia.com/r/stockreports-unpdlk/"></a>
              </td>
              <td>
                <a class="blur3-left " href="https://www.stockopedia.com/r/stockreports-unpdlk/"></a>
              </td>
              <td>
                <a class="blur3-left " href="https://www.stockopedia.com/r/stockreports-unpdlk/"></a>
              </td>
              <td>
                <a class="blur3-right " href="https://www.stockopedia.com/r/stockreports-unpdlk/"></a>
              </td>
            </tr>
          </ng-container>
          <ng-template #NolimitData>
            <tr *ngFor="let row of data?.data; let idx = index">
              <td>{{ idx + 1 }}</td>
              <td>{{ row?.code }}</td>
              <td class="d-flex justify-content-between align-items-center p-0 pl-3">
                <span>{{ row?.pattern }}</span>
                <img [src]="helper.getPatternImage(row?.icon)" style="height: 35px;" />
              </td>
              <td>{{ row?.trend }}</td>
              <td class="text-right">{{ row?.stringStatus }}</td>
              <td class="text-right">{{ row?.breakTime }}</td>
              <td class="text-right">
                  <fa [name]="'line-chart'" [size]=1 (click)="openChart(content, row?.imageLink)"></fa>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <img class="w-100 h-100"
      [src]="imageURL"
    />
  </div>
</ng-template>
