<div class="alert alert-success mt-3" role="alert">
  Phá kháng cự là những mã "breakout" ra khỏi vùng kháng cự và có thể hình thành một xu hướng tăng mới. Thường được hay
  sử dụng bởi Breakout Trader. Rủi ro trong cách đầu tư này khá cao và lợi nhuận mang lại cũng rất cao.
  <br>
  Sử dụng hiệu quả với những cổ phiếu tích lũy lâu ở một vùng giá, hoặc có thông tin cơ bản hỗ trợ.
</div>

<h5 class="text-center mt-5 font-weight-bold">Phá đỉnh</h5>
<table class="table table-bordered table-hover">
  <thead class="text-center">
    <tr class="d-flex">
      <th scope="col" class="col index-col">STT</th>
      <th scope="col" class="col-1">Cổ phiếu</th>
      <th scope="col" class="col-3">Công ty</th>
      <th scope="col" class="col">Sàn</th>
      <th scope="col" class="col">Giá đóng cửa</th>
      <th scope="col" class="col">Giá kháng cự</th>
      <th scope="col" class="col">ADX(14)</th>
      <th scope="col" class="col">RSI(14)</th>
      <th scope="col" class="col">MACD</th>
      <th scope="col" class="col">Vol</th>
      <th scope="col" class="col">Ngày break</th>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex" *ngFor="let row of data; let idx=index">
      <td scope="col" class="col index-col">{{idx + 1}}</td>
      <td scope="col" class="col-1">{{row?.code}}</td>
      <td scope="col" class="col-3">{{row?.name}}</td>
      <td scope="col" class="col">{{row?.exchange}}</td>
      <td scope="col" class="col text-right">{{row?.price | number:'1.2-2'}}</td>
      <td scope="col" class="col text-right">{{row?.breakPrice | number:'1.2-2'}}</td>
      <td scope="col" class="col text-right">{{row?.adx14| number:'1.2-2'}}</td>
      <td scope="col" class="col text-right">{{row?.rsi14 | number:'1.2-2'}}</td>
      <td scope="col" class="col text-right">{{row?.macd | number:'1.2-2'}}</td>
      <td scope="col" class="col text-right">{{row?.volume | number:'1.0-0'}}</td>
      <td scope="col" class="col text-right">{{row?.breakTime}}</td>
    </tr>
  </tbody>
</table>
