<div class="container-fluid" *ngIf="dataOverivew">
  <div class="mt-3">
    <h3>{{dataOverivew.name}}</h3>
    <span>{{dataOverivew.code}} : {{dataOverivew.price}}</span>
  </div>
  <div class="mt-5 position-relative stock-detail">
    <div class="col-12 col-lg-9 position-absolute">
      <div class="float-right">
        <ng-container *ngFor="let item of otherFactors.filterTimes">
          <div class="form-check form-check-inline filter-width">
            <input class="form-check-input" type="radio" name="filterTime" id="{{item.code}}" [value]="item.code" [checked]="item.isSelected"
              (change)="selectFilterTime(item)">
            <label class="form-check-label" for="{{item.code}}">
              {{item.value}}
            </label>
          </div>
        </ng-container>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="Tổng quan">
        <ng-template ngbTabContent>
          <app-report-overview [data]="dataOverivew"></app-report-overview>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Báo cáo tài chính">
        <ng-template ngbTabContent>
          <app-report-finance></app-report-finance>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Chỉ số tài chính">
        <ng-template ngbTabContent>
          <app-report-ratio></app-report-ratio>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>