<div class="container-fluid">
  <div>
    <h3>Cong ty abc</h3>
    <span>Ma ck: ABC</span>
    <span>Price: 20.0</span>
  </div>
  <div class="mt-5">
    <div class="row">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Thời gian (*)</label>
      <div class="col-sm-9">
        <ng-container *ngFor="let item of otherFactors.filterTimes">
          <div class="form-check form-check-inline filter-width">
            <input class="form-check-input" type="radio" name="filterTime" id="{{item.code}}" [value]="item.code" [checked]="item.isSelected"
              (change)="selectFilterTime(item)">
            <label class="form-check-label" for="{{item.code}}">
              {{item.value}}
            </label>
          </div>
        </ng-container>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="Tổng quan">
        <ng-template ngbTabContent>
          <app-report-overview [data]="data"></app-report-overview>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Báo cáo tài chính">
        <ng-template ngbTabContent>
          <app-report-finance></app-report-finance>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Chỉ số tài chính">
        <ng-template ngbTabContent>
          <app-report-ratio></app-report-ratio>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
