<div class="alert alert-success mt-3" role="alert">
  Bollinger bands, được phát triển bởi John Bollinger vào năm 1983, chỉ báo cho tín hiệu mua khi giá cắt lên dải trên của
  Bollinger bands. Một tín hiệu được sử dụng hiểu quả nhất với Bollinger Bands là nó cắt lên dải trên sau khi hình thành
  một "nút cổ chai". Bộ lọc này là những cổ phiếu có tín hiệu như vậy.
  <br>
  Sử dụng hiệu quả với những cổ phiếu tích lũy lâu ở một vùng giá, hoặc có thông tin cơ bản hỗ trợ.
</div>

<h5 class="text-center mt-5 font-weight-bold">Bollinger Bands</h5>
<table class="table table-bordered table-hover">
  <thead class="text-center">
    <tr>
      <th scope="cSol">STT</th>
      <th scope="col">Cổ phiếu</th>
      <th scope="col">Công ty</th>
      <th scope="col">Sàn</th>
      <th scope="col">Giá đóng cửa</th>
      <th scope="col">BB top</th>
      <th scope="col">ADX(14)</th>
      <th scope="col">RSI(14)</th>
      <th scope="col">MACD</th>
      <th scope="col">Vol</th>
      <th scope="col">Ngày break</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let idx=index">
      <td>{{idx + 1}}</td>
      <td>{{row?.code}}</td>
      <td>{{row?.name}}</td>
      <td>{{row?.exchange}}</td>
      <td class="text-right">{{row?.price | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.breakPrice | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.adx14| number:'1.2-2'}}</td>
      <td class="text-right">{{row?.rsi14 | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.macd | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.volume | number:'1.0-0'}}</td>
      <td class="text-right">{{row?.breakTime}}</td>
    </tr>
  </tbody>
</table>
