<div class="row flex-xl-nowrap mt-3">
  <table class="table table-bordered table-hover" *ngIf="reportFinanceRatioData">
    <thead class="table-active">
      <tr>
        <ng-container *ngFor="let item of reportFinanceRatioData.headers; let idx = index">
          <th class="text-center">
            {{item}}
          </th>
        </ng-container>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let row of reportFinanceRatioData.rows;">
        <ng-container *ngIf="row?.length >=3; else abnormalRow">
          <tr [ngbPopover]="popContent" triggers="manual" (mouseenter)="showColumnCharts(p1, row)" (mouseleave)="closeColumnCharts(p1)"
            #p1="ngbPopover" placement="top">
            <ng-container *ngFor="let item of row; let idx = index">
              <ng-container *ngIf="idx == 1">
                <td [ngClass]="alignTable(item)">{{item}}</td>
              </ng-container>
              <ng-container *ngIf="idx > 1">
                <td [ngClass]="alignTable(item)">{{item | number:'1.1-1'}}</td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
        <ng-template #abnormalRow>
          <tr>
            <td colspan="6" [ngClass]="alignTable(item)">{{row[1]}}</td>
          </tr>
        </ng-template>

      </ng-container>
    </tbody>
  </table>

  <ng-template #popContent let-greeting="greeting">
    <canvas baseChart width="480px" height="300px" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [colors]="barChartColors" [chartType]="barChartType" (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </ng-template>
</div>
