<div class="filter-container">
  <mat-card class="hhd-card">
    <mat-card-content class='hhd-card-content'>
      <mat-list *ngIf="selectedDataItems">
        <ng-container *ngFor="let dataItem of selectedDataItems">
          <mat-list-item>
            <span class="list-item-title">{{dataItem.title}}</span>
            <div class="list-item-input">
              <nouislider [connect]="true" [min]="dataItem.min" [max]="dataItem.max" [tooltips]="[ true, true ]"
                [step]="dataItem.step"
                [(ngModel)]="dataItem.selectedValues"></nouislider>
              <span class="unit-class">{{dataItem.unit}}</span>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <a class="clear-filter" href="javascript:void(0);" (click)="clearFilter()">
    <strong>Xóa tất cả điều kiện</strong>
  </a>
</div>

<div>
  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
  <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
</div>