<ng-container *ngIf="preFilterData">
  <form [formGroup]="preFilterFormGroup">
    <mat-card class="hhd-card">
      <mat-card-header>
        <mat-card-title>
          <strong>Thời gian (*)</strong>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class='hhd-card-content'>
        <mat-radio-group formControlName="timeFilter">
          <ng-container *ngFor="let item of preFilterData.filterTimes">
            <mat-radio-button class="hhd-card-content-item" [value]="item.code">{{item.value}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>

    <mat-card class="hhd-card" formGroupName="stockExchange">
      <mat-card-header>
        <mat-card-title>
          <strong>Sàn (*)</strong>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class='hhd-card-content'>
        <ng-container *ngFor="let item of preFilterData.stockExchanges">
          <mat-checkbox class="hhd-card-content-item" [formControlName]="item.code">
            {{item.value}}
          </mat-checkbox>
        </ng-container>
      </mat-card-content>

    </mat-card>
  </form>

  <div *ngIf="this.preFilterFormGroup.valid">
    <button mat-raised-button color="primary" (click)="clickNext()">Next</button>
  </div>
</ng-container>