<div class="bg-dark navbar-dark navbar-expand-lg">
  <nav class="navbar container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">
      <img src="assets/INVALUE.png" style="height: 35px;">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" [attr.data-toggle]="isMobileScreen ? 'dropdown' : ''"
            aria-haspopup="true" aria-expanded="false">
            Bộ lọc
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/filter/firstFilter">Bộ lọc</a>
            <a class="dropdown-item" routerLink="/filter/secondFilter">So sánh</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" [attr.data-toggle]="isMobileScreen ? 'dropdown' : ''"
            aria-haspopup="true" aria-expanded="false">
            Screen
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/screen/quickGeneral">Tổng hợp nhanh</a>
            <a class="dropdown-item" routerLink="/screen/gramhamNet">Graham NET NET</a>
            <a class="dropdown-item" routerLink="/screen/gramhamNCav">Graham NCAV</a>
            <a class="dropdown-item" routerLink="/screen/canslim">CANSLIM</a>
            <a class="dropdown-item" routerLink="/screen/fisher">Fisher</a>
            <a class="dropdown-item" routerLink="/screen/grahamChecklist">Graham checklists</a>
            <a class="dropdown-item" routerLink="/screen/growth-forecast">Dự báo tăng trưởng mạnh</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" [attr.data-toggle]="isMobileScreen ? 'dropdown' : ''"
            aria-haspopup="true" aria-expanded="false">
            PTKT
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://banggia-hn.vndirect.com.vn/chart/" target="_blank">Chart</a>
            <a class="dropdown-item" routerLink="/ptkt/breakResistance">Phá đỉnh</a>
            <a class="dropdown-item" routerLink="/ptkt/breakSupport">Bollinger bands</a>
            <a class="dropdown-item" routerLink="/ptkt/swingTrade">Trend trader</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" [attr.data-toggle]="isMobileScreen ? 'dropdown' : ''"
            aria-haspopup="true" aria-expanded="false">
            Hướng Dẫn
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/guide/userGuide">Hướng dẫn sử dụng</a>
            <a class="dropdown-item" routerLink="/guide/indicators">Các chỉ số</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" [attr.data-toggle]="isMobileScreen ? 'dropdown' : ''"
            aria-haspopup="true" aria-expanded="false">
            Tin Tức
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/news/listNews">Tin Tức</a>
            <ng-container *ngIf="logginUser$ | async">
              <a class="dropdown-item" routerLink="/news/createNews">Tạo tin tức mới</a>
            </ng-container>
          </div>
        </li>
      </ul>

      <div class="form-inline search-form my-2 my-lg-0">
        <input class="form-control search-input mr-0" type="search" placeholder="Search" aria-label="Search"
          [ngbTypeahead]="searchCompany" (selectItem)="selectACompany($event)" [(ngModel)]="selectedCompanyModel" />
        <button class="btn btn-search btn-outline my-2 my-sm-0" type="submit">
          <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
      </div>
    </div>

    <ul class="navbar-nav mr-auto ml-3 mt-2 mt-lg-0">
      <ng-container *ngIf="logginUser$ | async as user; else loginInBar">
        <li class="nav-item dropdown">
          <a id="navbarDropdown" role="button">
            <img class="user-profile" src="{{user.photoUrl}}">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">My Profile</a>
            <a class="dropdown-item">Account setting</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ng-container>
      <ng-template #loginInBar>
        <!-- <a class="btn bg-danger text-light d-lg-inline-block mb-3 mb-md-0" href="#" data-toggle="modal" data-target="#loginModal">Get started</a> -->
        <a class="btn btn-primary badge-pill d-lg-inline-block ml-3 mb-md-0" href="#" data-toggle="modal" data-target="#loginModal">Log in</a>
      </ng-template>
    </ul>

  </nav>
</div>

<!-- Modal login-->
<div #closeAddExpenseModal class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <!-- <div class="modal-content"> -->
      <app-log-in></app-log-in>
    <!-- </div> -->
  <!-- </div> -->
</div>

<!-- Modal signup-->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <!-- <div class="modal-content"> -->
        <app-sign-up></app-sign-up>
    <!-- </div> -->
  <!-- </div> -->
</div>
