<dl class="mt-1">
  <dd>Vui lòng chọn các điều kiện bắt buộc (*) để tiếp tục</dd>
</dl>

<div class="card" *ngIf="selectedDataItems">
  <div class="card-body">
    <form [formGroup]="otherFactosFormGroup">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Thời gian (*)</label>
        <div class="col-sm-10">
          <ng-container *ngFor="let item of otherFactors.filterTimes">
            <div class="form-check form-check-inline filter-width">
              <input class="form-check-input" type="radio" id="{{item.code}}" [value]="item.code" formControlName="timeFilter">
              <label class="form-check-label" for="{{item.code}}">
                {{item.value}}
              </label>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="form-group row" formGroupName="stockExchange">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Sàn (*)</label>
        <div class="col-sm-10">
          <ng-container *ngFor="let item of otherFactors.stockExchanges">
            <div class="form-check form-check-inline filter-width">
              <input class="form-check-input" type="checkbox" name="gridRadios" id="{{item.code}}" value="option2" [formControlName]="item.code">
              <label class="form-check-label" for="{{item.code}}">
                {{item.value}}
              </label>
            </div>
          </ng-container>
        </div>
      </div>
    </form>

    <ng-container *ngFor="let dataItem of selectedDataItems">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">{{dataItem.title}}</label>
        <div class="col-sm-5">
            <ng5-slider [(value)]="dataItem.selectedValues[0]" [(highValue)]="dataItem.selectedValues[1]" [options]="getOption(dataItem)" (userChangeEnd)="sliderChanged($event)"></ng5-slider>
        </div>
      </div>
    </ng-container>

    <a class="float-right" href="javascript:void(0);" (click)="clearFilter()">
      <strong>Xóa tất cả điều kiện</strong>
    </a>

    <div class="float-right mt-3" style="clear: both;">
      <button type="button" class="btn btn-dark" matStepperPrevious>Back</button>
      <button type="button" class="btn btn-dark ml-3" *ngIf="this.otherFactosFormGroup.valid" (click)="nextStep()">Next</button>
    </div>
  </div>
</div>
