<h5 class="mt-3">
  TRANG TIN TỨC
</h5>
<main>
  <section>
    <article *ngFor="let news of listNewData">
      <a class="item-wrapper" [routerLink]="'/news/newsDetail/'+ news.id">
        <img class="thumbnail" [src]="news.thumbnailUrl"/>
        <div class="detail">
          <span class="time">{{news.createdTime}}</span>
          <div class="subject">
            <span>{{news.title}}</span>
          </div>
        </div>
      </a>
    </article>
  </section>
</main>
<!-- <div [froalaEditor]="editorOption" [(froalaModel)]="editorContent">Hello, Froala!</div>
<div [froalaView]="editorContent"></div>
<button (click)="logContent()">Content</button> -->
