<div class="row flex-xl-nowrap mt-3">
  <div class="col-12 col-lg-9" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">

    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>CTCK</th>
          <th>Khuyến nghị</th>
          <th>Target</th>
          <th>Doanh thu</th>
          <th>LNTT</th>
          <th>LNST</th>
          <th>date</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="data?.recommended; else noDataRecommended">
          <ng-container *ngFor="let row of data?.recommended">
            <tr class="bg-light">
              <td>
                {{row.companyRecommendations}}
              </td>
              <td>
                {{row.companyRecommendationsAction}}
              </td>
              <td class="text-right">
                {{row.targetPrice}}
              </td>
              <td class="text-right">
                {{row.revenue | number:'1.1-1'}}
              </td>
              <td class="text-right">
                {{row.pretaxProfit | number:'1.1-1'}}
              </td>
              <td class="text-right">
                {{row.netProfit | number:'1.1-1'}}
              </td>
              <td class="text-right">
                {{row.timeRecommendations | date:'shortDate'}}
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noDataRecommended>
          <tr>
            <td colspan="7">Không có data</td>
          </tr>
        </ng-template>
      </tbody>
    </table>

    <table class="table table-bordered table-hover">
      <thead class="table-active">
        <tr>
          <ng-container *ngFor="let item of data.headers; let idx = index">
            <ng-container *ngIf="idx == 0; else otherHeader">
              <th>
                {{item}}
              </th>
              <th>
              </th>
            </ng-container>
            <ng-template #otherHeader>
              <th>
                {{item}}
              </th>
            </ng-template>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let row of data.rows;">
          <ng-container *ngIf="row.length == 1; else otherRow">
            <tr class="bg-light">
              <td colspan="8" class="font-weight-bold">
                {{row[0]}}
              </td>
            </tr>
          </ng-container>
          <ng-template #otherRow>
            <tr [ngbPopover]="popContent" triggers="manual" (mouseenter)="showColumnCharts(p1, row)" (mouseleave)="closeColumnCharts(p1)"
              #p1="ngbPopover" placement="right">
              <ng-container *ngFor="let item of row; let idx = index">
                <ng-container *ngIf="idx <= 1">
                  <td [ngClass]="alignTable(item)">{{item}}</td>
                </ng-container>
                <ng-container *ngIf="idx > 1">
                  <td [ngClass]="alignTable(item)">{{item | number:'1.1-1'}}</td>
                </ng-container>
              </ng-container>
            </tr>
          </ng-template>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-lg-3">
    <app-report-small-table title="Kế hoạch 2018" [tableData]="data?.plans"></app-report-small-table>

    <app-report-small-table title="Valuation" [tableData]="data?.valuation"></app-report-small-table>
    <app-report-small-table title="Score" [tableData]="data?.score"></app-report-small-table>
    <app-report-small-table title="Liquidity Ratio" [tableData]="data?.liquidityRatio"></app-report-small-table>
    <app-report-small-table title="Activity turnover" [tableData]="data?.activityTurnover"></app-report-small-table>
    <app-report-small-table title="Interpretation of Solvency ratios" [tableData]="data?.interpretationOfSolvencyRatios"></app-report-small-table>
    <app-report-small-table title=" Risk ratio" [tableData]="data?.riskRatio"></app-report-small-table>

    <ng-template #popContent let-greeting="greeting">
      <canvas baseChart width="480px" height="300px" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [colors]="barChartColors" [chartType]="barChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </ng-template>
  </div>
</div>
