<div class="mt-5">
  <ngb-tabset>
    <ngb-tab title="Doanh thu">
      <ng-template ngbTabContent>
          <div class="d-flex justify-content-around">
        <app-quick-general-table class="w-45"
          [tableHeader]="tableHeaderTab1" [tableData]="tableDataTab1?.dataScreenLeft"></app-quick-general-table>
        <app-quick-general-table class="w-45"
          [tableHeader]="tableHeaderTab1" [tableData]="tableDataTab1?.dataScreenRight"></app-quick-general-table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Lợi nhuận">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="EPS">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="P/E & P/B">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="MC/NWC & EV/EBITDA">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
