<div class="mt-5">
  <ngb-tabset (tabChange)="tabChange($event)">
    <ngb-tab title="Doanh thu" id="revenueTabId">
      <ng-template ngbTabContent>
        <div class="d-flex justify-content-around">
          <app-quick-general-table class="w-45" [tableHeader]="headerTable1" [tableData]="tableDataTab?.dataScreenLeft"></app-quick-general-table>
          <app-quick-general-table class="w-45" [tableHeader]="headerTable2" [tableData]="tableDataTab?.dataScreenRight"></app-quick-general-table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Lợi nhuận" id="profitTabId">
      <ng-template ngbTabContent>
        <div class="d-flex justify-content-around">
          <app-quick-general-table class="w-45" [tableHeader]="headerTable1" [tableData]="tableDataTab?.dataScreenLeft"></app-quick-general-table>
          <app-quick-general-table class="w-45" [tableHeader]="headerTable2" [tableData]="tableDataTab?.dataScreenRight"></app-quick-general-table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="EPS" id="epsTabId">
      <ng-template ngbTabContent>
        <div class="d-flex justify-content-around">
          <app-quick-general-table class="w-45" [tableHeader]="headerTable1" [tableData]="tableDataTab?.dataScreenLeft"></app-quick-general-table>
          <app-quick-general-table class="w-45" [tableHeader]="headerTable2" [tableData]="tableDataTab?.dataScreenRight"></app-quick-general-table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="P/E & P/B" id="pePBTabId">
      <ng-template ngbTabContent>
        <div class="d-flex justify-content-around">
          <app-quick-general-table class="w-45" [tableHeader]="headerTable1" [tableData]="tableDataTab?.dataScreenLeft"></app-quick-general-table>
          <app-quick-general-table class="w-45" [tableHeader]="headerTable2" [tableData]="tableDataTab?.dataScreenRight"></app-quick-general-table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="MC/NWC & EV/EBITDA" id="mcNWCTabId">
      <ng-template ngbTabContent>
        <div class="d-flex justify-content-around">
          <app-quick-general-table class="w-45" [tableHeader]="headerTable1" [tableData]="tableDataTab?.dataScreenLeft"></app-quick-general-table>
          <app-quick-general-table class="w-45" [tableHeader]="headerTable2" [tableData]="tableDataTab?.dataScreenRight"></app-quick-general-table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
