<h5 class="mt-3">
  TẠO TIN TỨC MỚI
</h5>
<form class="form-wrapper" [formGroup]="createNewsForm">
  <div class="form-group">
    <label>Chủ đề</label>
    <input type="text" formControlName="subject" class="form-control" placeholder="Chủ đề">
  </div>
  <div class="form-group">
    <label>Ảnh</label>
    <input type="text" formControlName="thumbnail" class="form-control" placeholder="Link ảnh">
    <img [src]="createNewsForm.get('thumbnail').value"/>
  </div>
  <div class="form-group">
    <label>Công Ty đươc đề cập</label>
    <div class="form-inline search-form my-2 my-lg-0">
      <input class="form-control search-input mr-0" type="search" placeholder="Search" aria-label="Search" [ngbTypeahead]="searchCompany"
        (selectItem)="selectACompany($event)" formControlName="searchCompany"/>
      <button class="btn btn-search btn-outline my-2 my-sm-0" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="selected-company">
      <span class="tag" *ngFor="let tag of createNewsForm.get('companyTag').value">{{tag}}
        <button (click)="removeTag(tag)" class="btn btn-remove btn-outline my-2 my-sm-0">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label>Filter</label>
    <select type="text" formControlName="filter" class="form-control" placeholder="Chủ đề">
      <option *ngFor="let item of listFilter" [value]="item.id">{{item.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Nội Dung</label>
    <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showAlert">
    Bạn chưa nhập đầy đủ các mục cần thiết!
  </div>
  <div class="action-bar">
    <button type="submit" class="btn action-btn" (click)="saveNews()">Lưu</button>
  </div>
</form>
