second-filter-selection {

  .clearable-label {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, .87);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 24px;
    align-items: center;
    margin-right: 4px;

    .clear-button {
      cursor: default;
    }
  }

  .filter-width {
    width: 100px;
  }

  mat-form-field.mat-form-field {
    min-width: 17rem;

    .mat-form-field-infix {
      border: none;
    }
  }
}

.cdk-overlay-container {
  .mat-autocomplete-panel{
    max-height: 21.7rem;

    .mat-option {
      line-height: 1.2rem;
      height: auto;
      padding: 0.25rem 1rem;
      white-space: normal;
    }
  }
}
