<div class="filter-container">
  <dl class="notification">
    <!-- <dt>Chú ý (*)</dt> -->
    <dd>Vui lòng chọn các điều kiện bắt buộc (*) để tiếp tục</dd>
  </dl>

  <mat-card class="hhd-card">
    <mat-card-content class='hhd-card-content'>
      <mat-list *ngIf="selectedDataItems">

        <form [formGroup]="filtersFormGroup">
          <mat-list-item>
            <span class="list-item-title">Thời gian (*)</span>
            <mat-radio-group class="list-otherfactor-item" formControlName="timeFilter">
              <ng-container *ngFor="let item of otherFactors.filterTimes">
                <mat-radio-button [value]="item.code" class="otherfactor-item">{{item.value}}</mat-radio-button>
              </ng-container>
            </mat-radio-group>
          </mat-list-item>

          <mat-list-item>
            <span class="list-item-title">Thêm công ty</span>
            <form>
              <mat-form-field>
              <input matInput [matAutocomplete]="auto" [formControl]="companySearchControl" placeholder="Gõ mã CK hoặc tên công ty">
              <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="addCompanyForFilter($event)">
                <mat-option *ngFor="let company of filteredCompanies | async" [value]="company.code">
                  <span>{{ company.code }} - {{ company.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            </form>
          </mat-list-item>

          <mat-list-item>
            <span class="list-item-title">Các tiêu chí lọc đã chọn:</span>
            <span class="list-otherfactor-item">
              {{selectedDataItemAsString}}
            </span>
        </mat-list-item>

        <mat-list-item>
          <span class="list-item-title">Các công ty đã chọn:</span>
          <span class="list-otherfactor-item">
            <ng-container *ngFor="let company of selectedCompanies">
              <span class="clearable-label">
                {{company}}
                <mat-icon class="clear-button" (click)="removeSelectedCompany(company)">clear</mat-icon>
              </span>
            </ng-container>
          </span>
        </mat-list-item>
        </form>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="button-class">
  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
  <button mat-raised-button color="primary" *ngIf="this.filtersFormGroup.valid"
   (click)="nextStep()" class="customButtonClass">Next</button>
</div>