<ng-container *ngIf="factors">
  <dl class="notification">
    <!-- <dt>Chú ý (*)</dt> -->
    <dd>Vui lòng chọn ít nhất một lựa chọn để tiếp tục</dd>
    <dd>Bạn có tối đa 5 lựa chọn</dd>
  </dl>

  <form [formGroup]="factorsFormGroup">
    <mat-card class="hhd-card" *ngFor="let factor of factors; let idx=index" [formGroupName]="factor.code">
      <mat-card-header>
        <mat-card-title>
          <strong>{{factor.title}}</strong>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class='hhd-card-content'>
        <ng-container *ngFor="let dataItem of factor.dataItems">
          <mat-checkbox class="hhd-card-content-item" [formControlName]="dataItem.code" [disabled]="isDiasbled(factor.code, dataItem.code)">
            {{dataItem.title}}
          </mat-checkbox>
        </ng-container>
      </mat-card-content>

    </mat-card>
  </form>

  <div>
    <button mat-raised-button color="primary" (click)="backStep()">Back</button>
    <ng-container *ngIf="this.factorsFormGroup.valid">
      <button mat-raised-button color="primary" (click)="nextStep()" class="customButtonClass">Next</button>
    </ng-container>
  </div>
</ng-container>