<div class="alert alert-success mt-3" role="alert">
  Đây là những doanh nghiệp dự phóng có kết quả kinh doanh tốt, được tính dựa trên tình hình sản xuất kinh doanh của doanh
  nghiệp, kế hoạch kinh doanh và một số yếu tố khác. Được sắp xếp theo thứ tự những doanh nghiệp có dự kiến có đà tăng trưởng
  cao nhất cho đến thấp nhất. Dữ liệu sẽ thay đổi theo từng quý, dựa vào thực tế thực hiện của doanh nghiệp.
  <br> Mua và nắm giữ những cổ phiếu tăng trưởng mạnh, là một chiến lược đầu tư tốt nhất cho kế hoạch đầu tư trung hạn 3-9 tháng.
  Đặc biết là gần mùa công bố BCTC.
</div>

<h5 class="text-center mt-5 font-weight-bold">Benjamin Graham Net Nets</h5>
<table class="table table-bordered table-hover">
  <thead class="text-center">
    <tr>
      <th scope="cSol">STT</th>
      <th scope="col">Cổ phiếu</th>
      <th scope="col">Công ty</th>
      <th scope="col">Sàn</th>
      <th scope="col">Giá</th>
      <th scope="col">Luỹ kế LNST từ đầu năm</th>
      <th scope="col">Luỹ kế LNST so với năm trước</th>
      <th scope="col">P/E</th>
      <th scope="col">P/B</th>
      <th scope="col">EPS</th>
      <th scope="col">F-Score</th>
      <th scope="col">C-Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let idx=index">
      <td>{{idx + 1}}</td>
      <td>{{row?.code}}</td>
      <td>{{row?.name}}</td>
      <td>{{row?.exchange}}</td>
      <td class="text-right">{{row?.price | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.result| number:'1.2-2'}}</td>
      <td class="text-right">{{row?.yoy | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.pe | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.pb | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.eps | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.fScrore | number:'1.2-2'}}</td>
      <td class="text-right">{{row?.cScrore | number:'1.2-2'}}</td>
    </tr>
  </tbody>
</table>
