<!-- <div class="subcolumns">
  <div class="c70l">
    <div class="heading border">
      <span>Financial Summary</span>
      <div>
        <a href="share-prices/apple-inc-NSQ:AAPL/balance_sheet/" title="Balance Sheet" class="normal dimmed">Balance Sheet</a> ·
        <a href="share-prices/apple-inc-NSQ:AAPL/profit_loss/" title="Profit &amp; Loss" class="normal dimmed">Income Statement</a> ·
        <a href="share-prices/apple-inc-NSQ:AAPL/cash_flow/" title="Cash Flow" class="normal dimmed">Cashflow</a>
        <a class="toggle-widescreen">→</a>
      </div>
    </div>

    <div class="border noTop">
      <div id="financial-summary" style="border-bottom:1px solid #DDD;overflow-x: scroll;">

        <table border="0" cellspacing="0" cellpadding="0" class="financial-summary-table chartedrows tablehover noborder condensed-table">

          <thead class="table-header bold">
            <tr style="border-bottom:1px solid silver;vertical-align:middle;height:2em;color:#666">
              <ng-container *ngFor="let item of data.headers; let idx = index">
                <ng-container *ngIf="idx == 0; else otherHeader">
                  <th colspan="2">
                    {{item}}
                  </th>
                </ng-container>
                <ng-template #otherHeader>
                  <th>
                    {{item}}
                  </th>
                </ng-template>
              </ng-container>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let row of data.rows;">
              <ng-container *ngIf="row.length == 1; else otherRow">
                <tr class="table-header bold">
                  <td colspan="7">
                    {{row[0]}}
                  </td>
                </tr>
              </ng-container>
              <ng-template #otherRow>
                <tr (mouseenter) ="showColumnCharts(row)"  (mouseleave) ="closeColumnCharts()">
                  <td colspan="2">
                    <div class="colspan-first-column">
                      <span>{{row[0]}}</span>
                      <span style="margin-left: 50px;">{{row[1]}}</span>
                    </div>
                  </td>
                  <ng-container *ngFor="let item of row; let idx = index">
                    <ng-container *ngIf="idx >=2">
                      <td>{{item}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
              </ng-template>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="c30r">
    OTHER table
    <div id="chart_div" class="overlayChart" [ngClass]="{'overlayChartHide': isShowChart}"></div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row flex-xl-nowrap mt-3" *ngIf="data">
    <div class="col-12 col-lg-9" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <ng-container *ngFor="let item of data.headers; let idx = index">
              <ng-container *ngIf="idx == 0; else otherHeader">
                <th colspan="2">
                  {{item}}
                </th>
              </ng-container>
              <ng-template #otherHeader>
                <th>
                  {{item}}
                </th>
              </ng-template>
            </ng-container>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let row of data.rows;">
            <ng-container *ngIf="row.length == 1; else otherRow">
              <tr class="bg-light">
                <td colspan="7">
                  {{row[0]}}
                </td>
              </tr>
            </ng-container>
            <ng-template #otherRow>
              <tr [ngbPopover]="popContent" triggers="manual" (mouseenter) ="showColumnCharts(p1, row)"  (mouseleave) ="closeColumnCharts(p1)"
                #p1="ngbPopover" placement="right">
                <td colspan="2">
                  <div>
                    <span>{{row[0]}} ({{row[1]}}</span>
                  </div>
                </td>
                <ng-container *ngFor="let item of row; let idx = index">
                  <ng-container *ngIf="idx >=2">
                    <td>{{item}}</td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-template>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-3">

      <ng-template #popContent let-greeting="greeting">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [colors]="barChartColors"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
      </ng-template>
    </div>
  </div>
</div>