.hide {
    display: none;
}

.subcolumns {
    display: flex;

    .c70l {
        width: 69%;
    }

    .c30r {
        width: 31%;
    }

    .border {
        border: 1px solid #dddddd;
    }

    .heading {
        display: flex;
        justify-content: space-between;

        color: #555;
        font-weight: 600;
        padding: 6px 10px 12px 10px;

        background-color: #f0f0f0;
    border-color: #dddddd;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 0;
    text-shadow: white 1px 1px;
    color: #333;
    text-shadow: white 0 1px 0;
    text-align: left;
    font-weight: bold;
    height: 14px;
    }

    .financial-summary-table {
        width: 100%;
        border-collapse: collapse;

        .table-header {
            background: #f1f1f1;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    }

    .colspan-first-column {
        display: flex;
        justify-content: space-between;
    }

    .bold {
        font-weight: bold;
    }
}

.overlayChart {
    position: fixed;
    display: none;
    width: 31%;
    height: 300px;
    top: 74px;
    right: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}

.overlayChartHide {
    display: block;
}

