:host {
  div.wrapper {
    padding: 20px;
    background-color: #eeeeeebf;
    border-radius: 3px;
    margin: 20px 0 5px 0;

    div.card {
      background-color: transparent;

      div.list-group {
        a.list-group-item {
          background-color: transparent;
        }
      }

      div.card-body {
        img.card-img {
          padding: 0 40px;
          margin-bottom: 20px;
        }

        p.card-text {
          padding-left: 1rem;
          margin-bottom: 0.5rem;
          &.category-text {
            padding-left: 0;
            margin-top: 1rem;
          }
          &.card-text-detail {
            margin-bottom: 0;
            padding-left: 2rem;
          }
        }
      }

      div.list-group {
        a.list-group-item {
          &:hover {
            background-color: #ddd;
            cursor: pointer;
          }
        }
      }
  
      &.card-detail {
        margin-bottom: 15px;
      }
    }
  }
}
