:host ::ng-deep {
  .first-filter-input {
    .table th, .table td {
      border-top: none;
      padding-bottom: 0px;

      label {
        margin-bottom: 0.25rem;
      }

      select {
        height: auto;
      }

      .form-control {
        font-size: 0.8rem;
      }
    }
  }

}
