<div class="mt-3">

  <div class="position-relative">
    <div class="position-absolute" style="right: 12px; top: 10px">
      <div class="d-flex">
        <form class="mr-3">
          <div class="form-row d-flex justify-content-end align-items-center">
            <div class="col-md-2 mr-3">
              <select class="form-control" [formControl]="quaterYearControl">
                <option *ngFor="let option of quaterYear" [value]="option">{{option}}</option>
              </select>
            </div>
            <div class="col-md-4; ml-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="hoseExchange" value="HOSE" [formControl]="hoseExchange">
                <label class="form-check-label" for="hoseExchange">HOSE</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="hnxExchange" value="HNX" [formControl]="hnxExchange">
                <label class="form-check-label" for="hnxExchange">HNX</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="upcomExchange" value="UPCOM" [formControl]="upcomExchange">
                <label class="form-check-label" for="upcomExchange">UPCOM</label>
              </div>
            </div>
          </div>
        </form>
        Filters <span class="badge badge-info">{{selectedPTCBTotal + selectedPTKTTotal}}</span>
      </div>
    </div>

    <ngb-tabset>
      <ngb-tab title="Phân tích cơ bản">
        <ng-template ngbTabContent>
          <form [formGroup]="ptcbForm" class="first-filter-input">
            <table class="table">
              <tr class="form-group; p-3" *ngFor="let row of ptcbRowsTotal; let idx = index">
                <td *ngFor="let item of factors_ptcb | sliceArrayPipe : row;">
                  <label [for]="idx">{{ item?.title }}:</label>
                  <select class="form-control" [id]="idx" [formControlName]="item?.code"
                          [ngClass]="item.isSelected ? 'bg-success' : ''">
                    <option *ngFor="let option of item?.ranges" [value]="option.value">{{option.key}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </form>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Phân tích kỹ thuật">
        <ng-template ngbTabContent>
          <form [formGroup]="ptktForm" class="first-filter-input">
            <table class="table">
              <tr class="form-group; p-3" *ngFor="let row of ptktRowsTotal; let idx = index">
                <td *ngFor="let item of factors_ptkt | sliceArrayPipe : row;">
                  <label [for]="idx">{{ item?.title }}:</label>
                  <select class="form-control" [id]="idx" [formControlName]="item?.code"
                          [ngClass]="item.isSelected ? 'bg-success' : ''">
                    <option *ngFor="let option of item?.ranges" [value]="option.value">{{option.key}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </form>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>

    <div class="d-flex justify-content-end">
      <button class="btn btn-dark" (click)="resetFilterInput()">Reset</button>
      <button class="btn btn-dark ml-2" [disabled]="isDisableSearchButton" (click)="search()">
        Tìm kiếm
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="isShowedResult">
  <span class="mt-3; font-weight-bold">Total: {{searchedCompanies?.length}}</span>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" *ngFor="let header of tableHeader">{{header.title}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies; let rowIndex = index">
      <th scope="row">{{ company?.id }}</th>
      <td>{{company?.companyCode}}</td>
      <td>{{ company?.price}}</td>
      <ng-container *ngFor="let item of company?.searchItems">
        <td>{{item?.value}}</td>
      </ng-container>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                    [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
    </select>
  </div>
</ng-container>





