<div class="font-weight-bold text-center header-height pt-3">{{tableHeader?.header}}</div>
<div class="d-flex">
  <table class="table table-bordered table-hover">
    <thead class="text-center">
      <tr>
        <th scope="col" colspan="2">{{tableHeader?.table1?.header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData?.dataYear">
        <td>{{row?.code}}</td>
        <td class="text-right">{{row?.value | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered table-hover">
    <thead class="text-center">
      <tr>
        <th scope="col" colspan="2">{{tableHeader?.table2?.header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData?.dataQuarter">
        <td>{{row?.code}}</td>
        <td class="text-right">{{row?.value | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered table-hover">
    <thead class="text-center">
      <tr>
        <th scope="col" colspan="2">{{tableHeader?.table3?.header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData?.dataTTM">
        <td>{{row?.code}}</td>
        <td class="text-right">{{row?.value | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>
