/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.min.css";

.w-20 {
    width: 20% !important;
}
.w-15 {
    width: 15% !important;
}

div.mat-horizontal-content-container {
    padding: 0;
}

