/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "./common.scss";
@import "../app/app.component.scss";
@import "../app/shared/header/header.component.scss";
@import "../app/home-page/home-page.component.scss";
@import "../app/filter/first-filter/first-filter-selection/first-selection.component.scss";
@import "../app/filter/second-filter/second-filter-selection/second-filter-selection.component.scss";
@import "../app/shared/filter-result-table/filter-result-table.component.scss";
@import "../app/user-guide/user-guide.component.scss";

html {
  font-size: 87.5%;
}

.w-48 {
    width: 48% !important;
}

.w-20 {
    width: 20% !important;
}
.w-15 {
    width: 15% !important;
}

.table { // override bootstrap table
  font-size: 0.85rem;
  line-height: 1;
}
